$Blue: hsl(246, 80%, 60%);
$Light-orange : hsl(15, 100%, 70%);
$Soft-blue : hsl(195, 74%, 62%);
$Light-red : hsl(348, 100%, 68%);
$Lime-green : hsl(145, 58%, 55%);
$Violet: hsl(264, 64%, 52%);
$Soft-orange : hsl(43, 84%, 65%);
$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  transition: all 0.3s ease !important;

  .card-work {
    border-radius: 15px;
    width: 250px;
    height: 200px;
    background-color: $Light-orange;
    position: relative;

    span {
      display: flex;
      justify-content: flex-end;
    }
  }

  .card-play {
    span {
      display: flex;
      justify-content: flex-end;
    }

    border-radius: 15px;
    width: 250px;
    height: 200px;
    position: relative;
    background-color: $Soft-blue;
  }

  .card-study {
    span {
      display: flex;
      justify-content: flex-end;
    }

    border-radius: 15px;
    width: 250px;
    height: 200px;
    position: relative;

    background-color: $Light-red;
  }

  .card-exercise {
    span {
      display: flex;
      justify-content: flex-end;
    }

    border-radius: 15px;
    width: 250px;
    height: 200px;
    position: relative;

    background-color: $Lime-green;
  }

  .card-social {
    span {
      display: flex;
      justify-content: flex-end;
    }

    border-radius: 15px;
    width: 250px;
    height: 200px;
    position: relative;

    background-color: $Violet;
  }

  .card-selfcare {
    span {
      display: flex;
      justify-content: flex-end;
    }

    border-radius: 15px;
    width: 250px;
    height: 200px;
    position: relative;
    background-color: $Soft-orange;
  }

  .btn {

    flex: 1;
    margin-right: 20px;
    border-radius: 15px;
    position: relative;
    background-color: $Dark-blue;
    width: 230px;
    height: 450px;

    .butn {
      margin-left: 10px;

      button {
        text-align: start;
        background-color: $Dark-blue;
        border: none;
        width: 100%;
        padding: 15px;
        border-radius: 15px;
        position: relative;
        color: $Pale-Blue;

        &:hover {
          cursor: pointer;
          color: #fff;
        }
      }
    }

    .card {
      width: 100%;
      height: 70%;
      border-radius: inherit;
      background-color: $Blue;
      // position: absolute;
      // left: 0;

      .header {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 20px;

        .img-prf {
          margin: 15px 0;
          border: 5px solid #fff;
          border-radius: 50%;
          width: 70px;
        }

        .box {

          margin-top: 25px;

          span {
            color: $Pale-Blue;
          }

          h1 {
            font-weight: lighter;
            margin-top: 3px;
          }
        }

      }

    }
  }

  .card-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 3;
    gap: 30px;
    flex-wrap: wrap;

    .info {
      position: absolute;
      width: 100%;
      height: 78%;
      top: 46px;
      left: 0;
      border-radius: inherit;
      background-color: $Dark-blue;

      &:hover {
        cursor: pointer;
        background-color: $Desaturated-blue;
      }

      .head {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
        align-items: center;
      }

      h1 {
        // font-weight: lighter;
        margin-left: 40px;
      }

      span {
        margin-top: 10px;
        margin-left: 40px;
        display: flex;
        justify-content: flex-start;
        color: $Pale-Blue;
      }
    }
  }
}





@media only screen and (max-width:1023px) {

  .btn {
    margin-bottom: 1rem;
  }


}

@media only screen and (max-width:834px) {

  .card-item {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .btn {
    width: auto !important;
    margin-bottom: 0 !important;
    height: 660px !important;
  }


}

@media only screen and (max-width:743px) {

  .card-item {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .btn {
    margin-right: 1rem !important;
    margin-bottom: 2rem !important;
    height: 450px !important;
  }

}

@media only screen and (max-width:531px) {

  .card-item {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 1rem !important;
    justify-items: center;
  
  }
  .butn{
    display: flex;
  }

  .btn {
    flex: auto !important;
    margin-bottom: 1rem !important;
    height: 200px !important;
    transition: height 0.3s ease-in;
  }
  
  .header{
    flex-direction: row !important;
    justify-content: space-between;
    margin-left: 0 !important;
    padding: 1rem !important;
  }
  .header-item{
    margin-left: 1rem;
  }
}


